In [43]:
import sys
import pandas as pd
import sklearn
import keras

In [44]:
file = './Autism-Child-Datafixed.txt'
data = pd.read_table(file, sep = ',', index_col= None)

In [47]:
# print the shape of the DataFrame, so we can see how many examples we have
print ('Shape of DataFrame: {}'.format(data.shape))
print (data.loc[0])

Shape of DataFrame: (292, 21)
A1_Score                      1
A2_Score                      1
A3_Score                      0
A4_Score                      0
A5_Score                      1
A6_Score                      1
A7_Score                      0
A8_Score                      1
A9_Score                      0
A10_Score                     0
age                           6
gender                        m
ethnicity                Others
jundice                      no
austim                       no
contry_of_res            Jordan
used_app_before              no
result                        5
age_desc           '4-11 years'
relation                 Parent
Class/ASD                    NO
Name: 0, dtype: object

In [48]:
data.loc[:18]

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,0,0,1,1,0,1,0,0,...,m,Others,no,no,Jordan,no,5,'4-11 years',Parent,NO
1,1,1,0,0,1,1,0,1,0,0,...,m,'Middle Eastern ',no,no,Jordan,no,5,'4-11 years',Parent,NO
2,1,1,0,0,0,1,1,1,0,0,...,m,?,no,no,Jordan,yes,5,'4-11 years',?,NO
3,0,1,0,0,1,1,0,0,0,1,...,f,?,yes,no,Jordan,no,4,'4-11 years',?,NO
4,1,1,1,1,1,1,1,1,1,1,...,m,Others,yes,no,'United States',no,10,'4-11 years',Parent,YES
5,0,0,1,0,1,1,0,1,0,1,...,m,?,no,yes,Egypt,no,5,'4-11 years',?,NO
6,1,0,1,1,1,1,0,1,0,1,...,m,White-European,no,no,'United Kingdom',no,7,'4-11 years',Parent,YES
7,1,1,1,1,1,1,1,1,0,0,...,f,'Middle Eastern ',no,no,Bahrain,no,8,'4-11 years',Parent,YES
8,1,1,1,1,1,1,1,0,0,0,...,f,'Middle Eastern ',no,no,Bahrain,no,7,'4-11 years',Parent,YES
9,0,0,1,1,1,0,1,1,0,0,...,f,?,no,yes,Austria,no,5,'4-11 years',?,NO
10,1,0,0,0,1,1,1,1,1,1,...,m,White-European,yes,no,'United Kingdom',no,7,'4-11 years',Self,YES
11,0,1,0,0,1,0,0,0,0,1,...,f,?,no,no,Kuwait,no,3,'4-11 years',?,NO
12,0,1,1,1,1,1,1,1,1,1,...,m,White-European,yes,no,'United States',no,9,'4-11 years',Parent,YES
13,1,0,0,0,0,0,1,0,0,0,...,f,Black,no,no,'United Arab Emirates',no,2,'4-11 years',Parent,NO
14,1,1,1,1,1,1,1,1,1,1,...,m,White-European,no,no,Europe,no,10,'4-11 years',Parent,YES
15,1,1,1,1,1,1,1,1,1,1,...,m,White-European,no,no,Malta,no,10,'4-11 years',Parent,YES
16,1,1,1,1,1,1,0,1,1,1,...,m,'South Asian',no,no,Bulgaria,no,9,'4-11 years',Parent,YES
17,0,0,0,0,0,0,1,0,0,0,...,m,Others,no,no,'United States',no,1,'4-11 years',Parent,NO
18,1,0,1,1,1,0,1,1,1,1,...,m,White-European,no,yes,'United States',no,8,'4-11 years',Parent,YES

In [49]:
data.describe()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,result
count,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000
mean,0.633562,0.534247,0.743151,0.551370,0.743151,0.712329,0.606164,0.496575,0.493151,0.726027,6.239726
std,0.482658,0.499682,0.437646,0.498208,0.437646,0.453454,0.489438,0.500847,0.500811,0.446761,2.284882
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000
50%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,6.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,8.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,10.000000

In [62]:
list(data)

['A1_Score',
 'A2_Score',
 'A3_Score',
 'A4_Score',
 'A5_Score',
 'A6_Score',
 'A7_Score',
 'A8_Score',
 'A9_Score',
 'A10_Score',
 'age',
 'gender',
 'ethnicity',
 'jundice',
 'austim',
 'contry_of_res',
 'used_app_before',
 'relation',
 'Class/ASD ']

In [52]:
# drop unwanted columns
data = data.drop(['result', 'age_desc'], axis=1)

In [64]:
x = data.drop(['Class/ASD '], 1)
y = data['Class/ASD ']

In [65]:
x.loc[:20]

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,relation
0,1,1,0,0,1,1,0,1,0,0,6,m,Others,no,no,Jordan,no,Parent
1,1,1,0,0,1,1,0,1,0,0,6,m,'Middle Eastern ',no,no,Jordan,no,Parent
2,1,1,0,0,0,1,1,1,0,0,6,m,?,no,no,Jordan,yes,?
3,0,1,0,0,1,1,0,0,0,1,5,f,?,yes,no,Jordan,no,?
4,1,1,1,1,1,1,1,1,1,1,5,m,Others,yes,no,'United States',no,Parent
5,0,0,1,0,1,1,0,1,0,1,4,m,?,no,yes,Egypt,no,?
6,1,0,1,1,1,1,0,1,0,1,5,m,White-European,no,no,'United Kingdom',no,Parent
7,1,1,1,1,1,1,1,1,0,0,5,f,'Middle Eastern ',no,no,Bahrain,no,Parent
8,1,1,1,1,1,1,1,0,0,0,11,f,'Middle Eastern ',no,no,Bahrain,no,Parent
9,0,0,1,1,1,0,1,1,0,0,11,f,?,no,yes,Austria,no,?
10,1,0,0,0,1,1,1,1,1,1,10,m,White-European,yes,no,'United Kingdom',no,Self
11,0,1,0,0,1,0,0,0,0,1,5,f,?,no,no,Kuwait,no,?
12,0,1,1,1,1,1,1,1,1,1,4,m,White-European,yes,no,'United States',no,Parent
13,1,0,0,0,0,0,1,0,0,0,4,f,Black,no,no,'United Arab Emirates',no,Parent
14,1,1,1,1,1,1,1,1,1,1,6,m,White-European,no,no,Europe,no,Parent
15,1,1,1,1,1,1,1,1,1,1,8,m,White-European,no,no,Malta,no,Parent
16,1,1,1,1,1,1,0,1,1,1,4,m,'South Asian',no,no,Bulgaria,no,Parent
17,0,0,0,0,0,0,1,0,0,0,7,m,Others,no,no,'United States',no,Parent
18,1,0,1,1,1,0,1,1,1,1,11,m,White-European,no,yes,'United States',no,Parent
19,1,1,1,1,1,1,0,1,0,1,5,m,?,no,no,Egypt,no,?
20,1,1,1,1,1,1,1,0,1,0,5,m,White-European,yes,no,'South Africa',no,Parent

In [69]:
X = pd.get_dummies(x)

In [70]:
X.columns.values

array(['A1_Score', 'A2_Score', 'A3_Score', 'A4_Score', 'A5_Score',
       'A6_Score', 'A7_Score', 'A8_Score', 'A9_Score', 'A10_Score',
       'age_10', 'age_11', 'age_4', 'age_5', 'age_6', 'age_7', 'age_8',
       'age_9', 'age_?', 'gender_f', 'gender_m',
       "ethnicity_'Middle Eastern '", "ethnicity_'South Asian'",
       'ethnicity_?', 'ethnicity_Asian', 'ethnicity_Black',
       'ethnicity_Hispanic', 'ethnicity_Latino', 'ethnicity_Others',
       'ethnicity_Pasifika', 'ethnicity_Turkish',
       'ethnicity_White-European', 'jundice_no', 'jundice_yes',
       'austim_no', 'austim_yes', "contry_of_res_'Costa Rica'",
       "contry_of_res_'Isle of Man'", "contry_of_res_'New Zealand'",
       "contry_of_res_'Saudi Arabia'", "contry_of_res_'South Africa'",
       "contry_of_res_'South Korea'",
       "contry_of_res_'U.S. Outlying Islands'",
       "contry_of_res_'United Arab Emirates'",
       "contry_of_res_'United Kingdom'", "contry_of_res_'United States'",
       'contry_of_res_Afghanistan', 'contry_of_res_Argentina',
       'contry_of_res_Armenia', 'contry_of_res_Australia',
       'contry_of_res_Austria', 'contry_of_res_Bahrain',
       'contry_of_res_Bangladesh', 'contry_of_res_Bhutan',
       'contry_of_res_Brazil', 'contry_of_res_Bulgaria',
       'contry_of_res_Canada', 'contry_of_res_China',
       'contry_of_res_Egypt', 'contry_of_res_Europe',
       'contry_of_res_Georgia', 'contry_of_res_Germany',
       'contry_of_res_Ghana', 'contry_of_res_India', 'contry_of_res_Iraq',
       'contry_of_res_Ireland', 'contry_of_res_Italy',
       'contry_of_res_Japan', 'contry_of_res_Jordan',
       'contry_of_res_Kuwait', 'contry_of_res_Latvia',
       'contry_of_res_Lebanon', 'contry_of_res_Libya',
       'contry_of_res_Malaysia', 'contry_of_res_Malta',
       'contry_of_res_Mexico', 'contry_of_res_Nepal',
       'contry_of_res_Netherlands', 'contry_of_res_Nigeria',
       'contry_of_res_Oman', 'contry_of_res_Pakistan',
       'contry_of_res_Philippines', 'contry_of_res_Qatar',
       'contry_of_res_Romania', 'contry_of_res_Russia',
       'contry_of_res_Sweden', 'contry_of_res_Syria',
       'contry_of_res_Turkey', 'used_app_before_no',
       'used_app_before_yes', "relation_'Health care professional'",
       'relation_?', 'relation_Parent', 'relation_Relative',
       'relation_Self', 'relation_self'], dtype=object)

In [71]:
X.loc[1]

A1_Score                               1
A2_Score                               1
A3_Score                               0
A4_Score                               0
A5_Score                               1
A6_Score                               1
A7_Score                               0
A8_Score                               1
A9_Score                               0
A10_Score                              0
age_10                                 0
age_11                                 0
age_4                                  0
age_5                                  0
age_6                                  1
age_7                                  0
age_8                                  0
age_9                                  0
age_?                                  0
gender_f                               0
gender_m                               1
ethnicity_'Middle Eastern '            1
ethnicity_'South Asian'                0
ethnicity_?                            0
ethnicity_Asian                        0
ethnicity_Black                        0
ethnicity_Hispanic                     0
ethnicity_Latino                       0
ethnicity_Others                       0
ethnicity_Pasifika                     0
                                      ..
contry_of_res_Italy                    0
contry_of_res_Japan                    0
contry_of_res_Jordan                   1
contry_of_res_Kuwait                   0
contry_of_res_Latvia                   0
contry_of_res_Lebanon                  0
contry_of_res_Libya                    0
contry_of_res_Malaysia                 0
contry_of_res_Malta                    0
contry_of_res_Mexico                   0
contry_of_res_Nepal                    0
contry_of_res_Netherlands              0
contry_of_res_Nigeria                  0
contry_of_res_Oman                     0
contry_of_res_Pakistan                 0
contry_of_res_Philippines              0
contry_of_res_Qatar                    0
contry_of_res_Romania                  0
contry_of_res_Russia                   0
contry_of_res_Sweden                   0
contry_of_res_Syria                    0
contry_of_res_Turkey                   0
used_app_before_no                     1
used_app_before_yes                    0
relation_'Health care professional'    0
relation_?                             0
relation_Parent                        1
relation_Relative                      0
relation_Self                          0
relation_self                          0
Name: 1, Length: 96, dtype: int64

In [72]:
Y = pd.get_dummies(y)

In [73]:
Y.iloc[:20]

    NO  YES
0    1    0
1    1    0
2    1    0
3    1    0
4    0    1
5    1    0
6    0    1
7    0    1
8    0    1
9    1    0
10   0    1
11   1    0
12   0    1
13   1    0
14   0    1
15   0    1
16   0    1
17   1    0
18   0    1
19   0    1

In [74]:
from sklearn import model_selection
# split the X and Y data into training and testing datasets
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, test_size = 0.2)

In [89]:
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.optimizers import Adam

In [90]:
def create_model():
 # create model
 model = Sequential()
 model.add(Dense(8, input_dim=96, kernel_initializer='normal', activation='relu'))
 model.add(Dense(4, kernel_initializer='normal', activation='relu'))
 model.add(Dense(2, activation='sigmoid'))
 # compile model
 adam = Adam(lr=0.001)
 model.compile(loss='categorical_crossentropy', optimizer=adam, metrics=['accuracy'])
 return model

In [91]:
model = create_model()
print(model.summary())

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_7 (Dense)              (None, 8)                 776
_________________________________________________________________
dense_8 (Dense)              (None, 4)                 36
_________________________________________________________________
dense_9 (Dense)              (None, 2)                 10
=================================================================
Total params: 822
Trainable params: 822
Non-trainable params: 0
_________________________________________________________________
None

In [92]:
model.fit(X_train, Y_train, epochs=50, batch_size=10, verbose = 1)

Epoch 1/50
233/233 [==============================] - 0s 2ms/step - loss: 0.6926 - acc: 0.4979
Epoch 2/50
233/233 [==============================] - 0s 196us/step - loss: 0.6887 - acc: 0.5021
Epoch 3/50
233/233 [==============================] - 0s 195us/step - loss: 0.6833 - acc: 0.5021
Epoch 4/50
233/233 [==============================] - 0s 219us/step - loss: 0.6733 - acc: 0.5021
Epoch 5/50
233/233 [==============================] - 0s 193us/step - loss: 0.6588 - acc: 0.6695
Epoch 6/50
233/233 [==============================] - 0s 190us/step - loss: 0.6394 - acc: 0.7768
Epoch 7/50
233/233 [==============================] - 0s 208us/step - loss: 0.6202 - acc: 0.7167
Epoch 8/50
233/233 [==============================] - 0s 186us/step - loss: 0.5939 - acc: 0.7468
Epoch 9/50
233/233 [==============================] - 0s 187us/step - loss: 0.5690 - acc: 0.8283
Epoch 10/50
233/233 [==============================] - 0s 177us/step - loss: 0.5444 - acc: 0.8240
Epoch 11/50
233/233 [==============================] - 0s 195us/step - loss: 0.5224 - acc: 0.8326
Epoch 12/50
233/233 [==============================] - 0s 184us/step - loss: 0.5015 - acc: 0.8841
Epoch 13/50
233/233 [==============================] - 0s 208us/step - loss: 0.4820 - acc: 0.8627
Epoch 14/50
233/233 [==============================] - 0s 205us/step - loss: 0.4645 - acc: 0.8970
Epoch 15/50
233/233 [==============================] - 0s 208us/step - loss: 0.4471 - acc: 0.8970
Epoch 16/50
233/233 [==============================] - 0s 211us/step - loss: 0.4291 - acc: 0.9013
Epoch 17/50
233/233 [==============================] - 0s 215us/step - loss: 0.4144 - acc: 0.9356
Epoch 18/50
233/233 [==============================] - 0s 208us/step - loss: 0.4000 - acc: 0.9313
Epoch 19/50
233/233 [==============================] - 0s 197us/step - loss: 0.3865 - acc: 0.9227
Epoch 20/50
233/233 [==============================] - 0s 207us/step - loss: 0.3739 - acc: 0.9485
Epoch 21/50
233/233 [==============================] - 0s 202us/step - loss: 0.3610 - acc: 0.9614
Epoch 22/50
233/233 [==============================] - 0s 209us/step - loss: 0.3508 - acc: 0.9700
Epoch 23/50
233/233 [==============================] - 0s 205us/step - loss: 0.3472 - acc: 0.9614
Epoch 24/50
233/233 [==============================] - 0s 187us/step - loss: 0.3322 - acc: 0.9700
Epoch 25/50
233/233 [==============================] - 0s 206us/step - loss: 0.3232 - acc: 0.9571
Epoch 26/50
233/233 [==============================] - 0s 187us/step - loss: 0.3148 - acc: 0.9742
Epoch 27/50
233/233 [==============================] - 0s 203us/step - loss: 0.3046 - acc: 0.9700
Epoch 28/50
233/233 [==============================] - 0s 280us/step - loss: 0.2970 - acc: 0.9785
Epoch 29/50
233/233 [==============================] - 0s 230us/step - loss: 0.2896 - acc: 0.9828
Epoch 30/50
233/233 [==============================] - 0s 307us/step - loss: 0.2835 - acc: 0.9871
Epoch 31/50
233/233 [==============================] - 0s 195us/step - loss: 0.2766 - acc: 0.9871
Epoch 32/50
233/233 [==============================] - 0s 224us/step - loss: 0.2710 - acc: 0.9871
Epoch 33/50
233/233 [==============================] - 0s 215us/step - loss: 0.2631 - acc: 0.9914
Epoch 34/50
233/233 [==============================] - 0s 226us/step - loss: 0.2562 - acc: 0.9957
Epoch 35/50
233/233 [==============================] - 0s 238us/step - loss: 0.2512 - acc: 0.9957
Epoch 36/50
233/233 [==============================] - 0s 189us/step - loss: 0.2520 - acc: 0.9914
Epoch 37/50
233/233 [==============================] - 0s 261us/step - loss: 0.2389 - acc: 0.9957
Epoch 38/50
233/233 [==============================] - 0s 244us/step - loss: 0.2341 - acc: 0.9957
Epoch 39/50
233/233 [==============================] - 0s 273us/step - loss: 0.2290 - acc: 0.9957
Epoch 40/50
233/233 [==============================] - 0s 263us/step - loss: 0.2241 - acc: 0.9957
Epoch 41/50
233/233 [==============================] - 0s 177us/step - loss: 0.2197 - acc: 0.9957
Epoch 42/50
233/233 [==============================] - 0s 147us/step - loss: 0.2163 - acc: 0.9957
Epoch 43/50
233/233 [==============================] - 0s 150us/step - loss: 0.2110 - acc: 0.9957
Epoch 44/50
233/233 [==============================] - 0s 143us/step - loss: 0.2109 - acc: 1.0000
Epoch 45/50
233/233 [==============================] - 0s 144us/step - loss: 0.2029 - acc: 1.0000
Epoch 46/50
233/233 [==============================] - 0s 149us/step - loss: 0.1987 - acc: 1.0000
Epoch 47/50
233/233 [==============================] - 0s 172us/step - loss: 0.1944 - acc: 0.9957
Epoch 48/50
233/233 [==============================] - 0s 160us/step - loss: 0.1906 - acc: 1.0000
Epoch 49/50
233/233 [==============================] - 0s 194us/step - loss: 0.1884 - acc: 1.0000
Epoch 50/50
233/233 [==============================] - 0s 205us/step - loss: 0.1834 - acc: 1.0000

In [93]:
# generate classification report using predictions for categorical model
from sklearn.metrics import classification_report, accuracy_score
predictions = model.predict_classes(X_test)
predictions

array([1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1])

In [94]:
print('Prediction Results for Neural Network')
print(accuracy_score(Y_test[['YES']], predictions))
print(classification_report(Y_test[['YES']], predictions))

Prediction Results for Neural Network
0.9491525423728814
             precision    recall  f1-score   support

          0       0.94      0.97      0.96        34
          1       0.96      0.92      0.94        25

avg / total       0.95      0.95      0.95        59

In [95]:
#we are at 89% accuracy on the testing dataset! (possible overfitting)
#support = # of patients that did or did not have autism

In [96]:
model.add(Dropout(0.25))
#adding dropout to normalize the results and fix overfitting